body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #282c35;
    color: black;
    transition: background-color 0.5s ease-in-out;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

h1 {
    color: #4285f4;
    font-size: 28px;
}

.quote-container {
    margin-top: 20px;
}

#quoteText {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.4;
    animation: fadeIn 1s ease-in-out;
}

button {
    padding: 12px 24px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3b76d6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
